html, body, #magic
{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
}

#canvas {
    margin: auto;
    display: block;
    width: 720px;
    height: 540px;
    background: url('img/Background.png');
    background-size:  100% auto;
}

#scoreBoard {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00A4FD;
    opacity: 0.9;
    z-index: 9999;
    display: none;
}

#scoreCanvascanvas {
    margin: auto;
    display: none;
    width: 720px;
    height: 540px;
}